<!DOCTYPE html>
<html lang="en-US">
{{>head}}

<body>
<div class="container">
    <form method="GET" action="/Edit-Week">
        <div class="form-group">
            <label>Select Week Plan: </label>
            <select class="form-control" name="WeekPlan" id="WeekPlan">
                <option hidden disabled selected>Select Week</option>
                {{#WeekPlans}}
                <option value="{{weekNumber}}">Week {{weekNumber}} - {{tasksNum}} Tasks</option>
                {{/WeekPlans}}
            </select>
        </div>
        <div class="form-group">
            <label>Or Week Number: </label>
            <input type="number" class="form-control" placeholder="Week Number" name="WeekNumber" id="WeekNumber" min="1">
        </div>
        <button type="submit" class="btn btn-block btn-primary" id="submitButton" disabled>Select Week to Edit</button>
    </form>
</div>

<script>
    document.getElementById('WeekPlan').onchange = () => {
        document.getElementById('submitButton').disabled = false
        document.getElementById('WeekNumber').value = null
        document.getElementById('WeekNumber').disabled = true
    }
    document.getElementById('WeekNumber').onchange = () => {
        document.getElementById('submitButton').disabled = false
    }
</script>
</body>

</html>